<!-- Django的 if 模板语句 -->
{% if user.is_authenticated %}
    欢迎，{{  user.username }}
    <a href='{% url "userprofile:logout" %}'>注销</a>
{% else %}
    <form method="post" action=".">
        {% csrf_token %}
        <!-- 账号 -->
        <label for="username">账号</label>
        <input type="text" id="username" name="username">
        <!-- 密码 -->
        <label for="password">密码</label>
        <input type="password" id="password" name="password">
        <!--  type:password 暗文输入密码  -->
        <button type="submit">登录</button>
    </form>
{% endif %}