{% if not user.is_authenticated %}
<form method="post" action=".">
    {% csrf_token %}
    <p>
    用户名*
    <input type="text" id="username" name="username">
    {{ errorDict.username.0 }}
    </p>
    
    <p>
    邮箱
    <input type="text"  id="email" name="email">
    {{ errorDict.email.0 }}
    </p>


    <p>
    密码*
    <input type="password"  id="password" name="password">
    {{ errorDict.password.0 }}
    </p>

    <p>
    重复密码*
    <input type="password" id="repeat" name="repeat">
    {{ errorDict.repeat.0 }}  
    </p>

    <button type="submit" >注册</button>
</form>
{% endif %}