{% extends 'base.html' %}
<!--引用框架文件-->
    {% block title %}
        分类：{{blogs_type.type_name}}
    {% endblock %}
    {% block content %}
        <h3>{{blogs_type.type_name}}</h3>
        <p>当前共有{{blogs|length}}篇博客</p>
        <!--过滤器的使用,显示长度-->
        {% for b in blogs %}
            <a href="../{{b.pk}}">
                {{ b.title }}
            </a>
            <p>{{ b.content|truncatechars:20 }}</p>
            <!--过滤器的使用,限制长度20-->
        {% empty %}
            <p> 暂无内容 </p>
            <!--blogs为空时的特殊处理-->
        {% endfor %}
    {% endblock %}