{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'base.css' %}"/>
<div class="container">
    <header></header>
    <main>
        <p style="text-align:left;">
        <!-- 行内靠左  -->
            <a href = "">首页</a>
            | <a href = "">博客</a>
            | <a href = "">关于</a>
            <span style="float:right;">
            <!-- 行内靠右  -->
            {% if user.is_authenticated %}
                <a href = "">个人中心</a> 
                | <a href='{% url "userprofile:logout" %}'>注销</a>
                | <a href="#" onclick="user_delete()">删除</a> 
                  <!-- 绑定事件 -->

                <form style="display:none;" method="POST" action="{% url 'userprofile:delete' user.id %}">
                    {% csrf_token %}
                    <button id="user_delete" type="submit"></button>
                </form>     
                <!-- 隐形的表单与按钮 -->

                <script>
                function user_delete(){
                    if (confirm("确定删除用户所有数据吗？")){
                        document.getElementById('user_delete').click()
                        alert("删除成功")
                    }
                }
                </script>

            {% else %}
                <a href='{% url "userprofile:login" %}'>登录</a> 
                | <a href='{% url "userprofile:register" %}'>注册</a>
            {% endif %}
            </span>
        </p>
        {% block son %}{% endblock%}
    </main>
    <footer>
        <p>
        <a href="">备案信息</a>
        | <a href="">版权声明</a>
        | <a href="">友链</a>
        | <a href="">联系站长</a>
        </p>

    </footer>
</div>